<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcontrollsystem">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--友盟权限-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />



    <application
        android:name="com.example.healthcontrollsystem.commemt.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.healthcontrollsystem.activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.LoginActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.MainActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.HomesActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.DetailsActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.EditPersonalDetailsActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.HealthActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.HealthTipsListActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.TipsActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.AboutUsActivity" >
        </activity>
        <activity android:name="com.example.healthcontrollsystem.activity.HealthCanKaoActivity" >
        </activity>
        <activity android:name=".activity.PlanActivity"></activity>
        <!--友盟activity-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>

        <!--微信平台-->
        <!--<activity
            android:name="com.umeng.soexample.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <service android:name="com.example.healthcontrollsystem.service.UserInformationService" >
        </service>
        <service android:name=".service.AutoSaveService"></service>
        <service android:name=".service.StepService"></service>

        <!--设置友盟appid-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5731f86667e58e7dff001ba2" >
        </meta-data>

        <!--//系统时间发生改变时自动通知-->
        <receiver android:name=".receiver.AutoSaveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"></action>
            </intent-filter>
        </receiver>
        <!--开机自动开启计步器-->
        <receiver android:name=".receiver.BootStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.intent.action.TIME_TICK"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>